.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #5985b6;
  
}

.text-principal {
  color: #fcfdfd;
}

.footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.container .text-muted {
  margin: 5px 0;
}