<footer class="footer">
  <div class="container">

    <p class="text-muted">
      <span class="text-principal">
        Made by {{copyright}} © 2018
      </span>
      <a href="{{contact.facebook}}" target="_blank" title="Facebook">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="{{contact.strava}}" target="_blank" title="Strava">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="{{contact.linkedin}}" target="_blank" title="Linkedin">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="{{contact.brickset}}" target="_blank" title="Brickset">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </p>

  </div>
</footer>