<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="{{contact.facebook}}">
          <i class="fa fa-facebook fa-inverse"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="{{contact.strava}}">
          <i class="fa fa-bicycle a-inverse"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="{{contact.linkedin}}">
          <i class="fa fa-linkedin fa-inverse"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="{{contact.brickset}}">
          <i class="fa fa-cubes fa-inverse"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Made by {{copyright}} © 2018</p>
  </div>
</footer>

