.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color:#f7f7f7;
}

.footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.container .text-muted {
  margin: 5px 0;
}