<div class="containerHome">
    <div style="margin-top:50px;" class="container">
        <div class="row">

            <div class="col-md-4">
                <a routerLink="/lego">
                    <img src="img/home-lego.png" />
                </a>
            </div>

            <div style="position:fixed;bottom:30px;left:30%;" class="col-md-8">
                <a routerLink="/lego">
                    <img src="img/home-bike.png" />
                </a>
            </div>


        </div>
    </div>
</div>