<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
<!--<nav class="navbar navbar-default bg-faded rounded navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">ZANTIX</a>
    <div class="collapse navbar-collapse" id="containerNavbar">
        <ul class="navbar-nav mr-auto">
            <div *ngFor="let menu of menus">

                <li *ngIf="!menu.sub;else other_content" class="nav-item" >
                    <a class="nav-link" routerLink="{{menu.url}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="imgMenu" src="{{menu.icon}}" /> {{menu.name}}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <ng-template #other_content>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="imgMenu" src="{{menu.icon}}" /> {{menu.name}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a *ngFor="let submenu of menu.sub" class="dropdown-item" routerLink="{{submenu.url}}">{{submenu.name}}</a>
                        </div>
                    </li>
                </ng-template>
            </div>
        </ul>


        <form class="form-inline my-2 my-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="cerca">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Cerca</button>
        </form>
    </div>
</nav>-->