
<div class="collapse navbar-collapse justify-content-end" id="navbarApp">
    <ul class="navbar-nav">
        <div *ngFor="let menu of menus">
            <li *ngIf="!menu.sub;else other_content" class="sidebar-brand">
                <a class="nav-link" href="{{menu.url}}">
                    {{menu.name}}
                </a>
            </li>
        </div>
    </ul>
</div>


<!--<a class="menu-toggle rounded" (click)="attivamenu=!attivamenu" href="#">
    <i class="fa" [ngClass]="{'fa-bars': !attivamenu, 'fa-times': attivamenu}"></i>
</a>
<nav id="sidebar-wrapper" [ngClass]="{active : attivamenu}">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">Zantix</a>
        </li>
        <div *ngFor="let menu of menus">
            <li *ngIf="!menu.sub;else other_content" class="sidebar-brand">
                <a class="js-scroll-trigger" href="{{menu.url}}">
                    <img class="imgMenu" src="{{menu.icon}}" />
                    {{menu.name}}
                </a>
            </li>
        </div>
    </ul>
</nav>-->
