<div>
    <div style="margin-top:100px;" *ngFor="let main of teams">
        

        <div *ngFor="let team of main.elements">
            
            <img class="py-5 bg-image-full" src="{{team.icon}}"/>
            
              <!-- Content section -->
              <section class="py-5">
                <div class="container">
                  <h1>{{team.title}}</h1>
                  <p class="lead">{{team.date}}</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
                </div>
              </section>
        </div>
    </div> 

</div>