<div style="background-color: #c6f2e6;">
  <div style="margin-top:100px;" *ngFor="let main of teams">
    <div class="container gallery-container">
      <ngb-accordion [closeOthers]="true" activeIds="ngb-panel-0">
        <ngb-panel *ngFor="let team of main.elements;" title="{{team.title}}">
          <ng-template ngbPanelContent>
            
            <div class="tz-gallery">

              <div class="row">
                <div class="col-md-8">
                  <img style="width:100%" src="{{team.icon}}" alt="Image">
                </div>
                <div class="col-md-4">
                  {{team.date}}
                  <br/>
                  {{team.description}}
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>
  </div>
</div>