<div style="background-color: #E9B001;">
  
    

  <div style="margin-top:60px;" *ngFor="let main of teams">
      <h1 class="my-4" style="text-align: center">
          {{main.title}}
      </h1>
  
      <h4 class="my-4" style="text-align: center">
          {{main.description}}
      </h4>

    <div class="container gallery-container" style="margin-bottom:60px;">
      <ngb-accordion [closeOthers]="true" activeIds="ngb-panel-0">
        <ngb-panel *ngFor="let team of main.elements;" title="{{team.title}}">
          <ng-template ngbPanelContent>
            
            <div class="tz-gallery">

              <div class="row">
                <div class="col-md-8">
                  <img style="width:100%" src="{{team.icon}}" alt="Image">
                </div>
                <div class="col-md-4">
                  {{team.date}}
                  <br/>
                  {{team.description}}
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>
  </div>
</div>