<div *ngFor="let lego of legos" class="container">
    <div class="row no-gutters">
      <div *ngFor="let argument of elementspage[currentPage-1];" class="col-lg-6">
        <a class="portfolio-item" (click)="openGallery(argument)">
          <span class="caption">
            <span class="caption-content">
              <h2>{{argument.title}}</h2>
              <p class="mb-0">{{argument.description}}</p>
            </span>
          </span>
          <img class="img-fluid" src="{{argument.backgroundimage}}" alt="{{argument.title}}">
        </a>
      </div>
      
    </div>
  </div>

