<div style="margin-top:60px;margin-bottom:60px;" class="container" *ngFor="let main of races">

        <h1 class="my-4" style="text-align: center">
            {{main.title}}
        </h1>
    
        <h4 class="my-4" style="text-align: center">
            {{main.description}}
        </h4>
    
        <div style="background: white;padding: 30px;">
            <data-table id="races-grid" headerTitle="Gare" [items]="listRaces" [itemCount]="racesCount" (reload)="reloadRaces($event)"
                [limit]="10" [sortBy]="'date'" [sortAsc]="false" [substituteRows]="false" [expandableRows]="true" [translations]="translations"
                [indexColumnHeader]="'#'">
                <ng-template #dataTableExpand let-item="item">
                    <div [textContent]="item.description" style="padding: 5px; color: gray"></div>
                </ng-template>
                <data-table-column [property]="'title'" [header]="'Nome'" [sortable]="true">
                </data-table-column>
                <data-table-column [property]="'date'" [header]="'Data Gara'" [sortable]="true">
                </data-table-column>
                <data-table-column [property]="'km'" [header]="'Km'" [sortable]="true">
                </data-table-column>
                <data-table-column [property]="'time'" [header]="'Tempo Stimato'" [sortable]="true">
                </data-table-column>
                <data-table-column [property]="'altimetry'" [header]="'Altimetria'" [sortable]="true">
                </data-table-column>
                <data-table-column [property]="'difficulty'" [header]="'Difficoltà'" [sortable]="true">
                </data-table-column>
            </data-table>
            <!--<div style="margin-top: 10px">
            <b>Selected:</b>
            <span *ngIf="eventsTable.selectedRow == null">
                <i>No item selected</i>
            </span>
            <span [textContent]="eventsTable.selectedRow && eventsTable.selectedRow.item.title"></span>
        </div>-->
    
    
        </div>
    
    </div>