ngb-carousel {
    max-width: 2560px;
    width:100%;
    margin: 50px auto;
}

ngb-carousel img {
    width: 100%;
    outline: none;
}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: block !important;
    z-index: 1;
    position: absolute;
    transition: opacity 1.5s easy-in-out, visibility 1s;
    opacity: 0;
    visibility: hidden;
}

.carousel-item.active{
    position: relative;
    transition: opacity 1.5s easy-in-out, visibility 1s;
    visibility: visible;
    opacity: 1;
}

.carousel-control-prev {
     z-index: 20;
}


.carousel-control-next {
     z-index: 20;
}

.carousel-indicators{
    z-index: 20;
}