<div id="team" class="section wb">
    <div *ngFor="let lego of legos" class="container">
        <div class="section-title text-center">
            <h3>{{lego.title}}</h3>
            <p class="lead">{{lego.description}}</p>
        </div><!-- end title -->
  
        <div class="row">
            <div *ngFor="let argument of elementspage[currentPage-1];" class="col-md-2 col-sm-6">
                <div class="our-team">
                    <div class="team_img">
                        <img src="{{argument.icon}}">
                        <!--<ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>-->
                    </div>
                    <div class="team-content">
                        <h3 class="title">{{argument.title}}</h3>
                        <span class="post">{{argument.dinizio}} - {{argument.dfine}}</span>
                    </div>
                </div>
            </div>
  
            
        </div>
    </div><!-- end container -->
  </div><!-- end section -->
