.our-team{
    text-align: center;
  }
  .our-team .team_img{
    position: relative;
    overflow: hidden;
  }
  .our-team .team_img:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .our-team:hover .team_img:after{
    bottom: 0;
  }
  .our-team img{
    width: 100%;
    height: auto;
  }
  .our-team .social{
    padding: 0px;
    margin: 0;
    list-style: none;
    position: absolute;
    top: -100%;
    right: 10px;
    background: #E65100;
    z-index: 1;
    transition: all 0.3s ease 0s;
  }
  .our-team:hover .social{
    top: 0;
  }
  .our-team .social li a{
    display: block;
    padding: 15px;
    font-size: 20px;
    color: #fff;
  }
  .our-team:hover .social li a:hover{
    color: #333333;
  }
  .our-team .team-content{
    padding: 20px 15px;
    background: #fff;
  }
  .our-team .title{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    text-transform: capitalize;
    margin: 0 0 20px;
    position: relative;
  }
  .our-team .title:before{
    content: "";
    width: 25px;
    height: 1px;
    background: #E65100;
    position: absolute;
    bottom: -10px;
    right: 50%;
    margin-right: 9px;
    transition-duration: 0.25s;
  }
  .our-team .title:after{
    content: "";
    width: 25px;
    height: 1px;
    background: #E65100;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: 9px;
    transition-duration: 0.25s;
  }
  .our-team:hover .title:before,
  .our-team:hover .title:after{
    width: 50px;
  }
  .our-team .post{
    display: inline-block;
    font-size: 15px;
    color:  #E65100;
    text-transform: capitalize;
  }
  .our-team .post:before{
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #333333;
    margin: 0 auto;
    position: relative;
    top: -13px;
  }
  @media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
  }
  
  .our-team .team-content p{
  font-size: 16px;
  font-weight: 300;
  }