.card-img-top{

  width: 100%;
}

.pagination-box[_ngcontent-c8]{
  padding-top: 5px;
}

#events-grid.input-group-prepend{
  padding-top: 5px;
}
  
  .portfolio-item {
    margin-bottom: 30px;
  }
  
  .pagination {
    margin-bottom: 30px;
  }
