<div style="margin-top:100px;margin-bottom:60px;padding: 30px;background: white;" class="container" *ngFor="let main of bikeevents">

    <h4 class="my-4">
        {{main.description}}
    </h4>


    <!--(reload)="reloadEvent($event)"-->
    <data-table id="events-grid" headerTitle="{{main.title}}" [items]="main.elements" [itemCount]="eventsCount" [limit]="8" [sortBy]="'date'"
        [sortAsc]="false" [substituteRows]="false" [expandableRows]="true" [translations]="translations"
        [indexColumnHeader]="'#'">
        <ng-template #dataTableExpand let-item="item">
            <div [textContent]="item.title" style="padding: 5px; color: gray"></div>
        </ng-template>
        <data-table-column [property]="'title'" [header]="'Nome'" [sortable]="true">
        </data-table-column>
        <data-table-column [property]="'data'" [header]="'Data Evento'" [sortable]="true">
        </data-table-column>
        <data-table-column [property]="'route.km'" [header]="'Km'" [sortable]="true">
        </data-table-column>
        <data-table-column [property]="'time'" [header]="'Tempo Stimato'">
        </data-table-column>
    </data-table>
    <!--<div style="margin-top: 10px">
        <b>Selected:</b>
        <span *ngIf="eventsTable.selectedRow == null">
            <i>No item selected</i>
        </span>
        <span [textContent]="eventsTable.selectedRow && eventsTable.selectedRow.item.title"></span>
    </div>-->




</div>